.content {
    max-width: $content-width;
    margin: -6px auto 0;
    padding: 1rem;
    background-color: $surface;
    border-top: 6px solid $primary;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
}
