@mixin hoverable {
    transition: box-shadow 0.25s ease, transform 0.25s ease;
    box-shadow: $shadow-1;
    
    &:hover {
        box-shadow: $shadow-3;
        transform: translateY(-2px);
    }
}
