/* Surfaces */
$backdrop: #1e1e22;
$surface: #2c3339;
$surface-light: #3e4c58;
$surface-middle: #405a73;
$surface-input: #cfd3d8;

/* Colors */

$primary: #d41948;
$primary-light: #ff386a;
$primary-dark: #870828;
$secondary: #18a82b;
$secondary-light: #19d434;

/* Text */
$text: #bcbcbc;
$text-muted: #666;
$text-dark: #333;
$text-dark-muted: #5b6670;
$text-input: #212931;
$link: $primary;

/* Borders */
$border: #cbcbcb;
$border-light: #e1e1e1;
