/* Surfaces */
$backdrop: #f3f3f3;
$surface: #fff;
$surface-light: #f4f4f4;
$surface-middle: #e3e3e3;
$surface-input: #cfd3d8;

/* Colors */

$primary: #f3275a;
$primary-light: #f74773;
$primary-dark: #870828;
$secondary: #18a82b;
$secondary-light: #19d434;
$tertiary: #1280a6;
$tertiary-light: #0fb8f2;

/* Text */
$text: #444;
$text-muted: #666;
$text-dark: #333;
$text-dark-muted: #5b6670;
$text-input: #212931;
$link: $primary;

/* Borders */
$border: #cbcbcb;
$border-light: #e1e1e1;

/* Shadow styles taken from https://codepen.io/sdthornton/pen/wBZdXq */
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

$shadow-1-inset: inset 0 1px 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-2-inset: inset 0 3px 6px rgba(0, 0, 0, 0.16), inset 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3-inset: inset 0 10px 20px rgba(0, 0, 0, 0.19), inset 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4-inset: inset 0 14px 28px rgba(0, 0, 0, 0.25), inset 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-5-inset: inset 0 19px 38px rgba(0, 0, 0, 0.3), inset 0 15px 12px rgba(0, 0, 0, 0.22);

/* Fonts */
$font-family-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-display: 'Quicksand', sans-serif;

/* Text sizes */
$size-1: 2.25rem;
$size-2: 2rem;
$size-3: 1.5rem;
$size-4: 1.25rem;
$size-5: 1rem;
$size-6: 0.75rem;
$size-7: 0.5rem;

/* Misc */
$content-width: 64rem;
$radius: 5px;
$radius-small: 4px;
