/* Surfaces */
$backdrop: #1e1e22;
$surface: #2c3339;
$surface-light: #3e4c58;
$surface-middle: #405a73;
$surface-input: #cfd3d8;

/* Text */
$text: #bcbcbc;
$text-muted: rgb(134, 134, 134);
$text-dark: #333;
$text-dark-muted: #5b6670;
$text-input: #212931;
$link: $tertiary-light;

/* Borders */
$border: #cbcbcb;
$border-light: #e1e1e1;
